<!DOCTYPE html>
<html>
  <head>
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href=" https://fonts.googleapis.com">
    <link rel="preconnect" href=" https://fonts.gstatic.com" crossorigin>
    <link href=" https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap" rel="stylesheet"
    >
  </head>
  <body>
     <div id = "bg">
      <div id = "top">
        <nav>
          <div class = "logo">
            
          </div>
          <div class = "links">
            <a href = "#">Home</a>
            <a href = "#">Movies</a>
            <a href = "#">FAQ</a>
          </div>
          
        </nav>
        <h1>Discover Movies Around You</h1>
        <p>Please enter your phone number(in international format)starting with +91 to receive the verification code</p>
        <form method = "post" action = "/step2">
          <input type = "tel" name = "number" placeholder = "enter your phone number"/> 
          <input type = "submit" value = "sendcode">
        </form>

      </div>
      <div id = "bottom">
        <div class = "card">
          <h4>October<br>30</h4>
          <div class = "cardImg" id = "one">
             <div class = "letter" > 
              <span>Black Widow</span>
              <button>Book Now</button>
             </div>
          </div>
          <div class = "card">
            <h4>July<br>15</h4>
            <div class = "cardImg" id = "two">
              <div class = "letter">
                <span>Spider Man</span>
                <button>Book Now</button>
              </div>
            </div>
          </div>
        </div>
        
      </body>
      </html>
      
     
    
  </body>
</html>
